<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container text-right">
		<div sec:authorize="isAuthenticated()" style="font-size: 20px">
			Welcome <b><span sec:authentication="name"
				class="label label-success">Username</span></b> </br> <i><span
				sec:authentication="principal.authorities">Roles</span></i>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
	<div align="center">
		<h1>Product Manager</h1>
		<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
			<a href="new">Create New Product</a>
		</div>
		<div sec:authorize="hasAnyAuthority('ADMIN')">
			<a href="/user/registration">Create New User</a>
		</div>

		<br /> <br />
		<table class="table table-bordered table-striped" style="width: 25%">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Made In</th>
					<th>Price</th>

					<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td th:text="${product.id}">Product ID</td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.brand}">Brand</td>
					<td th:text="${product.madein}">Made in</td>
					<td th:text="${product.price}">Price</td>

					<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')"><a
						th:href="@{'/edit/' + ${product.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp; <a sec:authorize="hasAuthority('ADMIN')"
						th:href="@{'/delete/' + ${product.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>