@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #c0c0c0;
    --black3: #5c5b5b;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}

.banner
{
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    background: var(--blue);
    color: var(--white);
    border-style: solid;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-style: solid #fff;
    transition: 0.5s;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.navigation ul
{
    padding: 0;
    margin: 0;
}

.navigation ul li
{
    padding: 20px;
}

.navigation ul li:hover
{
    cursor: pointer;
}

.navigation ul li a
{
    background: var(--blue);
    color: var(--white);
}




.main
{
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    background: var(--white);
    color: var(--black2);
    padding: 20px;
}

.departments
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.departments h2
{
    color: var(--blue);
    text-align: center;
}

.departmentheader 
{
    color: var(--blue);
    font-size: 20px;
}

.departments table, thead, td
{
    border-collapse:collapse;
    border-bottom: 1px solid var(--black2);
}

.departments table tbody
{
    color: var(--black3);
}

.examinations
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.examinations h2
{
    color: var(--blue);
    text-align: center;
}

.examinationheader 
{
    color: var(--blue);
    font-size: 20px;
}

.examinations table, thead, td
{
    border-collapse:collapse;
    border-bottom: 1px solid var(--black2);
}

.examinations table tbody
{
    color: var(--black3);
}

