<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n" />
		</Console>
		<File name="File"
			fileName="C:\Users\tamil\OneDrive\Documents\Tamil\log4jexample.log"
			append="true">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.test" level="info" additivity="true">
			<AppenderRef ref="File" />
		</Logger>
		<Root>
			<AppenderRef ref="Console" level="error" />
		</Root>
	</Loggers>
</Configuration>